body {
	background-color: #534388;
	color: white;
}
#flexContent {
	display: flex;
	flex-wrap: wrap;
}
#containerRight {
	flex: 1 0 auto;				
}
#flexContainerRight {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#flexContainerRight > div {
	margin-left: 8px
}
#flexContainerRight > div + div {
  margin-top: 8px;
}
.shadeRow {
}
.shadeSlotName {
	padding-left: 5px;
	padding-right: 5px;
}
.color {
	width: 20px;
	height: 20px;

	max-width: 20px;
	max-height: 20px;

	box-sizing: border-box;
}
.main {
	outline: 1px solid white;
	outline-offset: -2px;
}

textarea {
	float: left;
	width: 550px;

	height: 50vh;

	background-color: #34246b;
	color: white;
	border: none;
	border-radius: 10px;

	padding: 5px;
	margin: 0px;
}
@media (max-width: 860px) {
	textarea {
		float: none;
	}
}
}

table {
	border-collapse: collapse;
	margin: auto;
}

td {
	padding: 0px;
	margin: 0px;

	user-select: none;
}

.centertxt {
	text-align: center;
}
.sneakyText {
	margin-top: 10px;
	font-size: 80%;
	opacity: 0.7;
}
.darkerbg {
	background-color: rgba(0, 0, 0, 0.1);
}

.copybtn {
  padding:5px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);

  transition: background-color 0.3s;
}

.copybtn:active {
  background-color: green;
}

.color-picker {
  position: relative;
}

.color-picker__overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0;
  background: black;
  z-index: 1;
  opacity: 0;
}

.color-picker__flyout {
  width: 240px;
  border: 1px solid #eee;
  border-radius: 4px;
  background: white;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.12);
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  position: absolute;
  bottom: -170px;
  left: -100px;
  z-index: 2;
}

.color-picker__inner {
  padding: 1rem 1rem;
}

.color-chip {
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 4px 4px 0 0;
}

.color-chip__inner {
  text-align: inherit;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.color-input {
  text-align: center;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.control {
  width: 100%;
  height: 12px;
  border-radius: 12px;
  border: 1px solid #ddd;
}

.control + .control {
  margin-top: 1rem;
}

.control input {
  width: 100%;
  margin: 0;
}

.control input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

.control input[type=range]:focus {
  outline: none;
}

.control input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.control input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #ddd;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  margin-top: -4px;
}

.swatch {
	cursor: pointer;

	width: 20px;
	height: 20px;

	max-width: 20px;
	max-height: 20px;

	box-sizing: border-box;
}
