<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>ROA Colors.gml generator</title>
		<link rel="stylesheet" href="index.css">
		<script src="vue.js"></script>
		<script src="tinycolor.js"></script>
	</head>
	<body>

		<!-- Heavily based on https://vuejsexamples.com/vue-color-picker/ - "a cool Color Picker with vue.js BY Florian Schulz." -->
		<template id="color-picker-template">
			<div class="color-picker">
				<div class="color-picker__overlay" v-if="isVisible" v-on:click="hide"></div>
				<div class="color-picker__flyout" v-if="isVisible">
					<div class="color-chip" v-bind:style="{'background': color}">
						<div class="color-chip__inner">
							<table>
								<tr>
									<td>RGB:</td>
									<td><input class="color-input" size="3" v-bind:value="r" @input="validateAndSendRgbColorUpdate($event, 'r')" @change="askRerender" v-bind:disabled="readonly"></input></td>
									<td><input class="color-input" size="3" v-bind:value="g" @input="validateAndSendRgbColorUpdate($event, 'g')" @change="askRerender" v-bind:disabled="readonly"></input></td>
									<td><input class="color-input" size="3" v-bind:value="b" @input="validateAndSendRgbColorUpdate($event, 'b')" @change="askRerender" v-bind:disabled="readonly"></input></td>
								</tr>
								<tr>
									<td>HEX:</td>
									<td colspan=3><input class="color-input" v-bind:value="hex" @input="hex = $event.target.value; updateFromHex();" @change="askRerender" v-bind:disabled="readonly"></input></td>
								</tr>
							</table>
							<br>
							<div style="display: flex;">
								<button class="copybtn" @click="copyColor">copy</button>
								<input type="text" style="width: 100%; text-align: center; border-radius: 0px 5px 5px 0px; border: 1px solid rgba(0, 0, 0, 0.5); border-left: none;"
									ref="colorCopyPasteInput"
									v-bind:value="color"
									v-focus
									@focus="$event.target.select()"
									@click="$event.target.select()"
									@paste="handlePaste"
									@input="handleInput"
								></input>
							</div>
						</div>
					</div>
					<div class="color-picker__inner">
						<div v-if="showpalettecontrols" style="margin-bottom: 1rem;">
							<button @click="hide(); $emit('delete-color')">remove</button>
							<button style="float:right;" @click="$emit('set-main')">set main</button>
						</div>
						<div class="control" v-bind:style="gradientH">
							<input type="range" min="0" max="360" v-bind:value="h" v-on:input="h = Number($event.target.value); updateFromHsv();" v-on:change="askRerender" v-bind:disabled="readonly"/>
						</div>
						<div class="control" v-bind:style="gradientS">
							<input type="range" min="0" max="100" v-bind:value="percentS" v-on:input="s = Number($event.target.value) / 100; updateFromHsv();" v-on:change="askRerender" v-bind:disabled="readonly"/>
						</div>
						<div class="control" v-bind:style="gradientV">
							<input type="range" min="0" max="100" v-bind:value="percentV" v-on:input="v = Number($event.target.value) / 100; updateFromHsv();" v-on:change="askRerender" v-bind:disabled="readonly"/>
						</div>
						<p class="centertxt sneakyText" style="color: black; margin: 0px; margin-top: 5px; scale: 0.5">{{hsvStr}}</p>
					</div>
				</div>
				<div class="swatch" v-bind:style="{'background': color}" v-on:click="toggle"></div>
			</div>
		</template>

		<div id="app">
			<textarea id="gmlDisplay" @input="parseInputGml" placeholder="paste your color.gml code here!"></textarea>

			<div id="flexContainerRight">
				<div class="darkerbg">
					<div>
						<input type="file" id="file" accept="image/*" @change="loadFilePreview"></input>
						<input type="number" name="zoom" min="1" style="width: 40px" v-model:value="zoomFactor" @input="zoomFactor=Math.max(1, parseInt(zoomFactor))"></input>
					</div>
					<canvas id="preview" @click="previewClick" class="darkerbg"></canvas>
					<div>
						<color-picker style="display:inline-block"
							v-bind:_r = "pickedColor.r"
							v-bind:_g = "pickedColor.g"
							v-bind:_b = "pickedColor.b"
							readonly="true"
						></color-picker>
						rgb({{pickedColor.r}}, {{pickedColor.g}}, {{pickedColor.b}}) (x: {{pickedColor.x}}, y: {{pickedColor.y}})
					</div>
					<table>
						<tr>
							<td>{{colorspelling}}s not in palette:</td>
							<td v-for="color in colorsNotInPalette">
								<color-picker
									v-bind:_r = "color.r"
									v-bind:_g = "color.g"
									v-bind:_b = "color.b"
									readonly="true"
								></color-picker>
							</td>
						</tr>
						<tr>
							<td>unmatched {{colorspelling}}s:</td>
							<td v-for="color in colorsByRangeMatch.unmatchedColors">
								<color-picker
									v-bind:_r = "color.r"
									v-bind:_g = "color.g"
									v-bind:_b = "color.b"
									readonly="true"
								></color-picker>
							</td>
						</tr>
						<tr>
							<td>matched {{colorspelling}}s:</td>
							<td v-for="color in colorsByRangeMatch.matchedColors">
								<color-picker
									v-bind:_r = "color.r"
									v-bind:_g = "color.g"
									v-bind:_b = "color.b"
									readonly="true"
								></color-picker>
							</td>
						</tr>
					</table>
				</div>

				<div class="darkerbg">
					<p class="centertxt">
						click to edit {{colorspelling}}
						<br>ctrl-click to set as main {{colorspelling}}
					</p>
					<hr>
					<table id="colors">
						<tr class="shadeRow" v-for="(row, iRow) in rows">
							<td class="color centertxt"><div @click="moveRowUp(iRow)" name="move slot up">▲</div></td>
							<td class="color centertxt"><div @click="moveRowDown(iRow)" name="move slot down">▼</div></td>
							<td class="rowDeletButton" @click="deleteRow(iRow)"><div>🗑️</div></td>
							<td class="shadeSlotName centertxt" contenteditable="true" @blur="changeRowName($event, row)">{{row.name}}</td>
							<td
								class="color"
								v-for="(colorSlot, colorSlotIndex) in row.colors"
								@click="clickOnColor($event, colorSlot, row)"
							>
								<color-picker
									v-bind:class = "{ main: colorSlot.main }"

									showpalettecontrols = "true"
									v-bind:_r.sync = "colorSlot.r"
									v-bind:_g.sync = "colorSlot.g"
									v-bind:_b.sync = "colorSlot.b"

									@delete-color = "deleteColor(colorSlotIndex, row)"
									@set-main = "setMainColor(colorSlot, row)"
								>
								</color-picker>
						</td>
							<td class="color centertxt"><div @click="addSlot(row)" name="add Color Slot">+</div></td>
						</tr>
						<tr v-if="rows.length < 8">
							<td colspan=100% style="padding-top: 2px;">
								<button style="width: 100%;" @click="addRow()" name="add Shade Row">+</button>
							</td>
						</tr>
					</table>
				</div>

				<div class="darkerbg">
					<table id="colorProfiles">
						<tr v-for="(colorSlot, colorSlotIndex) in colorProfilesMainColors"
							class="colorSlot"
						>
							<td><input type="radio" :id=`$ColorSlot_${colorSlotIndex}` v-bind:value="colorSlotIndex" v-model="selectedColorProfile">
							<td><label :for=`$ColorSlot_${colorSlotIndex}`>{{colorSlotIndex}}</label></td>
							<td class="shadeSlotName" contenteditable="true" @blur="changeSlotName($event, colorSlot)">{{colorSlot.name || ""}}</td>
							<!--
								the vue style guide says to not do v-for with v-if because v-if has priority but this is what I need it to do...?
								don't use a color-picker for the 1st row
							-->
							<td v-if="colorSlotIndex == 0"
								v-for="shade in colorSlot.shades"
								v-bind:style="{backgroundColor: shade ? `rgb(${shade.rgb.r}, ${shade.rgb.g}, ${shade.rgb.b})` : 'black'}"
							>
							<td v-if="colorSlotIndex > 0"
								v-for="shade in colorSlot.shades"
								class="color"
							>
								<color-picker
									v-bind:_r.sync = "shade.rgb.r"
									v-bind:_g.sync = "shade.rgb.g"
									v-bind:_b.sync = "shade.rgb.b"

									@color-update = "calcShadesHSV(shade); $forceUpdate(); generateGmlCode();"
									@rerender = "renderPreview"
								>
								</color-picker>
							</td>
							<td v-if="colorSlotIndex > 5" class="rowDeletButton" @click="deleteColorSlotRow(colorSlotIndex)"><div>🗑️</div></td>
						</tr>
						<tr v-if="colorProfilesMainColors.length < 16">
							<td colspan=100% style="padding-top: 2px;">
								<button style="width: 100%" @click="addColorProfileRow">+</button>
							</td>
						</tr>
					</table>
				</div>
			</div>

			<footer>
				<p style="clear:both;">Copy-paste your current colors.gml's file content in the text field on the right, and/or start defining {{colorspelling}}s.
					<br>Ranges are automatically calculated from the palette <span class="sneakyText">(it doesn't read them from the code.)</span>
					<br>The text field will be updated in real time <span class="sneakyText">(and forced into this tool's format because it's easier for me, sorry!)</span>
					<br>Copy-paste the code back into your colors.gml file once you're done.
					<br>
					<br>Usage videos available <a href="https://i.imgur.com/1NYuQ7d.gif">here</a>, <a href="https://streamable.com/i5h69">here</a> and <a href="https://streamable.com/zkf5c">here</a>.
					<br>You can load a sprite to preview re{{colorspelling}}s <span class="sneakyText">(The tool is completely local, nothing gets uploaded anywhere.)</span>
					<br>You can rename rows and slots by clicking on their name. This will update the header comment in the .gml file.
					<br>You can ctrl+c / ctrl+v a color as soon as you open it's picker.
				</p>

				<p class="sneakyText">
					<br>Official doc about colors.gml <a href="https://www.rivalsofaether.com/workshop/colors-gml/">here</a>. Youtube video explanation<a href="https://www.youtube.com/watch?v=qo4hmRbW8lQ">here</a>.
					<br>It uses <a href="http://bgrins.github.io/TinyColor/">TinyColor</a> for parsing, so it should support all the correctly-formatted color formats you can throw at it.
					<br>Color picker heavily based on <a href="https://vuejsexamples.com/vue-color-picker/">"a cool Color Picker with vue.js BY Florian Schulz."</a>
					<br>Built with <a href="https://vuejs.org/">Vue.js</a>.
				</p>

				<input type="checkbox" id="autoMoveShades" v-model="autoMoveShades"></input>
				<label for="autoMoveShades">{{ (autoMoveShades ? 'A' : 'Not a') + 'utomatically moving shades when palette rows are moved' }}</label>
				<br>
				<input type="checkbox" id="skipConfirmRecolor" v-model="skipConfirmRecolor"></input>
				<label for="skipConfirmRecolor">{{ (skipConfirmRecolor ? 'Not a' : 'A') + 'sking confirmation before recoloring big pictures' }}</label>
				<br>
				<input type="checkbox" id="ukMode" v-model="colorspelling" true-value="colour" false-value="color"></input>
				<label for="ukMode">U.K. mode 🇬🇧</label>
				<br>
			</footer>
		</div>

		<script src="index.js"></script>
	</body>
</html>
