<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>ROA Colors.gml generator</title>
		<link rel="stylesheet" href="index.css">
		<script src="vue.js"></script>
	</head>
	<body>
		<div id="app">
			<textarea id="gmlDisplay" @input="parseInputGml"></textarea>

			<div id="flexContainerRight">
				<div class="bigmargin darkerbg">
					<input type="file" id="file" @change="loadFilePreview" style="display:inherit;"></input>
					<canvas id="preview" @click="previewClick" class="darkerbg"></canvas>
					<div id="colorPickDisplay">click on the preview to pick a color</div>
					<!--todo make a pallette of colors in the picture?-->
				</div>
				<div class="centertxt bigmargin darkerbg">
				<div>
					<input id="colorInputR" :disabled="targetColor == null" @input="inputColorChange" placeholder="R" size="3"></input>
					<input id="colorInputG" :disabled="targetColor == null" @input="inputColorChange" placeholder="G" size="3"></input>
					<input id="colorInputB" :disabled="targetColor == null" @input="inputColorChange" placeholder="B" size="3"></input>
					<button @click="deleteColor" :disabled="targetColor == null">🗑️</button>
					<code id="hsv" style="display:block;">hsv(H, S, V)</code>
					<!-- <code id="range" style="display:block;">range(H, S, V)</code> -->
				</div>
				<hr>
				<p>
					click to edit color
					<br>ctrl-click to set as main color
				</p>
				<table id="colors">
					<tr class="shadeRow" v-for="(row, iRow) in rows">
						<td class="rowDeletButton" @click="deleteRow(iRow)"><div>🗑️</div></td>
						<td class="shadeSlotName" contenteditable="true" @blur="changeRowName($event, row)">{{row.name}}</td>
						<td
							class="color"
							v-for="colorSlot in row.colors"
							@click="clickOnColor($event, colorSlot, row)"
							v-bind:style="{backgroundColor: `rgb(${colorSlot.r}, ${colorSlot.g}, ${colorSlot.b})`}"
							v-bind:class="{ main: colorSlot.main, target:colorSlot.isTarget }"
						></td>
						<td class="color"><div @click="addSlot(row)" name="add Color Slot">+</div></td>
					</tr>
					<tr>
						<td colspan=100% style="padding-top: 2px;">
							<button style="width: 100%;" @click="addRow" name="add Shade Row">+</button>
						</td>
					</tr>
					</table>
				</div>
				<div class="bigmargin darkerbg">
					<table id="colorProfiles">
						<tr v-for="(colorSlot, colorSlotIndex) in colorProfilesMainColors"
							class="colorSlot"
						>
							<td><input type="radio" :id=`$ColorSlot_${colorSlotIndex}` v-bind:value="colorSlotIndex" v-model="selectedColorProfile">
							<td><label :for=`$ColorSlot_${colorSlotIndex}`>{{colorSlotIndex}}</label></td>
							<td class="shadeSlotName" contenteditable="true" @blur="changeSlotName($event, colorSlot)">{{colorSlot.name || ""}}</td>
							<td v-for="shade in colorSlot.shades"
								class="color"
								v-bind:style="{backgroundColor: shade ? `rgb(${shade.rgb.r}, ${shade.rgb.g}, ${shade.rgb.b})` : 'black'}"
							></td>
						</tr>
					</table>
				</div>
			</div>

			<footer>
				<p style="clear:both;">Copy-paste your current colors.gml's file content in the text field on the right, or start defining colors.
				<br>The text field will be updated in real time (and forced into this tool's format because it's easier for me, sorry!)
				<br>Copy-paste it back into your colors.gml file once you're done.
				<br>You can load a sprite to preview recolors (The tool is completely local, nothing gets uploaded anywhere.)
				<br>You can rename rows and slots by clicking on their name. This will update the header comment in the .gml file.
				</p>
				<input type="checkbox" id="calcFromFurthestHue" v-model="calcFromFurthestHue" @click="generateGmlCode"></input>
				<label for="calcFromFurthestHue">{{ calcFromFurthestHue ? 'calculating ranges from main to furthest Hue only' : 'calculating ranges from main to biggest individual H, S, V values' }}</label>
			</footer>
		</div>

		<script src="index.js"></script>
	</body>
</html>
